<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<script src="https://cdn.jsdelivr.net/npm/jquery/dist/jquery.min.js"></script>
<link rel="stylesheet" type="text/css" href="assets/waifu.css"/>
<title>{{ page.title }}</title>
<div class="waifu">
    <div class="waifu-tips"></div>
    <canvas id="live2d" class="live2d"></canvas>
    <div class="waifu-tool">
        <span class="fui-home"></span>
        <span class="fui-chat"></span>
        <span class="fui-eye"></span>
        <span class="fui-user"></span>
        <span class="fui-photo"></span>
        <span class="fui-info-circle"></span>
        <span class="fui-cross"></span>
    </div>
</div>

<script src="assets/waifu-tips.js"></script>
<script src="assets/live2d.js"></script>
<script src="assets/jquery-ui.min.js"></script>
<script type="text/javascript">
 /* 可直接修改部分参数 */
 live2d_settings['modelId'] = 1;                  // 默认模型 ID
 live2d_settings['modelTexturesId'] = 87;         // 默认材质 ID
 live2d_settings['modelStorage'] = false;         // 不储存模型 ID
 live2d_settings['canCloseLive2d'] = false;       // 隐藏 关闭看板娘 按钮
 live2d_settings['canTurnToHomePage'] = false;    // 隐藏 返回首页 按钮
 /* 在 initModel 前添加 */
 initModel("assets/waifu-tips.json")
</script>
