<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<title>{{ page.title }}</title>

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/aplayer/dist/APlayer.min.css">
<script src="https://cdn.jsdelivr.net/npm/aplayer/dist/APlayer.min.js" defer="defer" ></script>

<!-- require MetingJS -->
<script src="https://cdn.jsdelivr.net/npm/meting@2/dist/Meting.min.js" defer="defer"></script>

<script src="https://cdn.jsdelivr.net/npm/vconsole/dist/vconsole.min.js" defer="defer"></script>
<script src="https://cdn.jsdelivr.net/npm/hls.js/dist/hls.min.js" defer="defer"></script>
<meting-js
	  server="netease"
	  type="playlist"
	  id="539317734"
    theme="#b7daff'"
	  list-max-height="540px"
	  preload="none"
    fixed="true"
    defer="defer"
>
</meting-js>
