html,
body {
    margin: 0;
    padding: 0;
}

html,
body {
    background-color: rgba(0,0,0,0.78);
    width: 100%;
    height: 100%;
}

ul {
    list-style-type: none;
    padding-left: 20px;
    padding-top: 10px;
    margin: 0;
}

li {
    line-height: 30px;
    font-size: 16px;
}

.about a {
    color: #000;
    text-decoration: none;
}

.about a:hover {
    color: #73BC83;
}
.box {
    width: 35%;
    min-width: 300px;
    min-height: 500px;
    background-color: #000;
    border-radius: 10px;
    box-shadow: 0 2px 6px rgba(100, 100, 100,0.3);
    display: flex;
    margin: auto;
    flex-direction: column;
}
.box-tilte {
    font-size:24px;
    margin:10px;
    color: #00f000;
}
.box-content{
    font-size:20px;
    margin-left: 25px;
    margin-bottom: 5px;
    color: #00f000;
}
.box-tail{
    font-size:22px;
    margin-left: 15px;
    margin-bottom: 5px;
    color: #00f000;
}
.content-tail{
    font-size:15px;
    margin-left: 15px;
    margin-bottom: 5px;
    color: #00f000;
}
.slogan {
    margin-left:20px;
    padding-top: 20px;
    color: #00ff00;
    font-size: 25px;
}

.tail {
    position:absolute;
    bottom:10px;
    right: 10px;
    font-size: 16px;
    color:#00f000;
}
.topbar-chess {
    font-size: 30px;
    margin-left: 20px;
    margin-top: 10px;
    color: #00ff00;
}
.nickname {
    font-size: 16px;
    color: #AAA;
    font-family: mottoFont;
    margin-bottom: 20px;
}

.about {
    box-sizing: border-box;
    background-color: #FFF;
    border-radius: 5px;
    width: 50%;
    margin: 20px;
    padding-top: 40px;
    padding-bottom: 40px;
    padding-left: 40px;
    padding-right: 40px;
}

.title-area {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
}

.title {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 50px;
    margin-top: 16px;
    margin-bottom: 20px;

}

.name {
    text-align: center;
    color: #888;
    margin-bottom: 40px;
}

.segement {
    color: #888;
    font-size: 18px;
    margin-top: 40px;
}

.segement-content {
    padding-left: 20px;
    padding-top: 10px;
    margin: 0;
}
