html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}
.left{
    
    display:flex;
    flex:1;
    flex-direction:column;
    margin-left:5%;
}
.right{
    margin-right:5%;
}


ul{
    list-style-type:none;
    
}

body {
    display: flex;
}

a {
    color: #5151;
    text-decoration: none;
}

a:hover {
    color: #57BF7D;
}

.cover {
    display: block;
    width: auto;
    max-height: 100%;
}

.motto {
    position: fixed;
    bottom: 10px;
    left: 60px;
    z-index: 2;
    font-size: 36px;
    color: #AAA;
    opacity: 0.7;
    font-family: mottoFont;
}

.content {
    margin:0;
    padding:0;
    width:100%;
    height:100%;
    display:flex;
    direction:row;
}

.post-line {
    padding-top: 20px;
    padding-bottom: 20px;
    margin-bottom: 2px;
    border-radius: 1px;
    background-color: rgba(255,255,255,0.8);
}

.post-title {
    text-decoration: none;
    font-size: 18px;
    margin-left: 29px;
    color: #21759b;
}

.post-summary {
    margin-top: 20px;
    margin-bottom: 10px;
    margin-left: 29px;
    margin-right: 10px;
    font-size: 14px;
    line-height: 20px;
    color: #666;
}

.post-date {
    font-size: 12px;
    text-align: right;
    margin-right: 20px;
}

.topbar-mine {
    font-size: 27px;
    font-weight: bold;
    font-family: angelinaFont;
    color: #420303;
    text-shadow:0px 0px 8px #fff, 0px 0px 42px #f72, 0px 0px 72px #f84,0px 0px 150px #fa5;


}

.topbar-b{
    display:flex;
    align-items:center;
    flex-wrap:nowrap;
    min-width:420px;
    justify-content:space-between;
    
}

.topbar-button {
    width:83px;
    padding:8px;
    height:auto;
    margin-top:10px;
    text-align:center;
    background-color: #ffffff;
    border-radius: 25px;
    font-size: 28px;
}

.slogan {
    color: #fafafa;
    font-size: 25px;
    margin:0 auto;
}

.topbar-cover{
    position:relative;
}

.topbar-above{
    position:absolute;
}
.topbar-cover img{
    width: 110px;
    background-repeat:no-repeat;
    border-radius:100%;

}

.topbar-above img{
    width: 115px;
    background-repeat:no-repeat;
    transform:scale(1.7);//设置缩放比例
}

.topbar-button a {
    color: #ff9600;
    text-decoration: none;
}

.topbar-button  a:hover {
    color: #d60c03;
}

.post-info {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.category-area {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex: 1;
}

.category {
    color: #999;
    font-size: 12px;
    height: 16px;
    position: relative;
    background: #EFEFEF;
    margin-right: 5px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 5px;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

.char-total-counter {
    display: flex;
    justify-content: flex-end;
    color: #AAA;
    font-size: 11px;
    margin-right: 20px;
}

.char-counter {
    font-size: 11px;
    margin-right: 10px;
}

.right-info-area {
    display: flex;
    flex-direction: row;
    align-items: center;
}
