html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

ul{
    list-style-type:none;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: row;
}

a {
    color: #5151;
    text-decoration: none;
}

a:hover {
    color: #57BF7D;
}

.cover {
    display: block;
    width: auto;
    max-height: 100%;
}

.motto {
    position: fixed;
    bottom: 10px;
    left: 60px;
    z-index: 2;
    font-size: 36px;
    color: #AAA;
    opacity: 0.7;
    font-family: mottoFont;
}

.content {
    flex: 1;
    width: auto;
    overflow-y: scroll;
    padding-left: 10px;
    padding-right: 10px;
}

.post-line {
    margin-right: 22px;
    width: 70%;
    float: right;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-bottom: 2px;
    border-radius: 1px;
    background-color: rgba(255,255,255,0.8);
}

.post-title {
    text-decoration: none;
    font-size: 18px;
    margin-left: 29px;
    color: #21759b;
}

.post-summary {
    margin-top: 20px;
    margin-bottom: 10px;
    margin-left: 29px;
    margin-right: 10px;
    font-size: 14px;
    line-height: 20px;
    color: #666;
}

.post-date {
    font-size: 12px;
    text-align: right;
    margin-right: 20px;
}

.topbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 30px;
    margin-top: 50px;
    margin-right: 20px;
    margin-bottom: 20px;
}

.topbar-box {
    position: absolute;
}
.topbar-mine {
    font-size: 45px;
    margin-left: 30%;
    margin-bottom: 18px;
    font-weight: bold;
    flex: 1;
    font-family: angelinaFont;
    color: #fff;
    text-shadow:0px 0px 8px #fff, 0px 0px 42px #f72, 0px 0px 72px #f84,0px 0px 150px #fa5;


}

.topbar-button {
    color: #fff;
    background-color: rgba(10,10,0,0.7);
    border-radius: 25px;
    padding: 12px;
    margin-left: 4px;
    margin-right: 4px;
    margin-bottom: 18px;
    font-size: 28px;
    font-family: angelinaFont;
}

.slogan {
    margin-left:20px;
    padding-top: 20px;
    color: #fafafa;
    font-size: 25px;
}
.topbar-chess {
    font-size: 30px;
    margin-left: 15px;
    margin-top: 10px;
    color: #fafafa;
}

.topbar-music {
    font-size: 30px;
    margin-left: -10px;
    margin-top: 25px;
    color: #fafafa;
}

.topbar-cover img{
    margin-left: 45px;
    width: 200px;
    border-radius: 100px;
}

.topbar-button a {
    color: #fff;
    text-decoration: none;
}

.topbar-button  a:hover {
    color: #ff9600;
}

.post-info {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.category-area {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex: 1;
}

.category {
    color: #999;
    font-size: 12px;
    height: 16px;
    position: relative;
    background: #EFEFEF;
    margin-right: 5px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 5px;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

.char-total-counter {
    display: flex;
    justify-content: flex-end;
    color: #AAA;
    font-size: 11px;
    margin-right: 20px;
}

.char-counter {
    font-size: 11px;
    margin-right: 10px;
}

.right-info-area {
    display: flex;
    flex-direction: row;
    align-items: center;
}
